/* battleships royale css stylesheet*/

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Stardos+Stencil:wght@700&display=swap');

/*animation pieces*/
@import 'animations.css';

/* placesable pieces */
@import 'bsr-pieces.css';
/*grid pieces*/
@import 'bsr-grids.css';

body{
  /*border: 2px solid greenyellow;*/
  width : 1250px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Stardos Stencil', cursive;
  background-image: url("../assets/images/sea.jpg");
  background-size: 135%;
  background-position: center;
}

/* when screen size becomes too small allow scrolling horizontally*/
@media (max-width: 1260px){
  body{
    /*border: 2px solid green;*/
    overflow-x: auto;
  }
}

/* when screen size becomes too small add a background attachment to stop background repeat*/
@media (max-width: 970px){
  body{
    /*border: 2px solid red;*/
    background-attachment: fixed;
  }
}

button{
  font-family: 'Stardos Stencil', cursive;
  font-size: 16px;
  border: none;
  background:linear-gradient( 135deg, #afb3b6, rgb(226, 226, 226), #afb3b6);
}

button:hover{
  background:linear-gradient( 135deg, #afb3b6, rgb(189, 189, 189), #afb3b6);
}

button:active{
  background:linear-gradient( 135deg, #7d8083, rgb(146, 146, 146), #7d8083);
}

input{
  font-family: 'Stardos Stencil', cursive;
  /*font-size: 16px;*/
}

/* stylings and animations for the various elements --------------------------------------- */

.bsr--border{
  border-style: outset;
}

.bsr--border-top-bottom{
  border-style: outset none outset none;
}

.bsr--border-no-right{
  border-style: outset none outset outset;
}

.bsr--rounded{
  border-radius: 20px;
}

.bsr--rounded-top{
  border-radius: 20px, 20px, 0px, 0px;
}

.bsr--rounded-bottom{
  border-radius: 0px 0px 20px, 20px;
}

.bsr--rounded-left{
  border-radius: 20px 0px 0px 20px;
}

.bsr--rounded-right{
  border-radius: 0px 20px 20px 0px;
}

.bsr--text-underline{
  text-decoration: underline;
}

.bsr--text{
  font-size: 18px;
}

.bsr--text-large{
  font-size: 75px;
}

.bsr--text-center{
  text-align: center;
}

.bsr--appear-quick{
  opacity: 0;
  animation: appear .2s forwards;
}

.bsr--appear{
  opacity: 0;
  animation: appear 2s forwards;
  animation-delay: 1s;
}

.bsr--glow-mouseover:hover{
  animation: textLightupWhite 1s forwards;
}

.bsr--glow-mouseover:not(:hover){
  animation: textLightupWhiteReverse 1s;
}

.bsr--appear-and-glow{
  animation: appear 2s,  textLightupWhite 2s;
  animation-fill-mode: forwards;
}

.bsr--appear-and-glow-temporary{
  opacity: 0;
  animation: appear 2s forwards,  boxLightupWhite 2s 2s alternate-reverse;
  animation-delay: 1s;
}

.bsr--appear-and-glow-temporary-delayed{
  opacity: 0;
  animation: appear 2s forwards,  boxLightupWhite 2s 2s alternate-reverse;
  animation-delay: 2.5s;
}

.bsr--appear-and-glow-temporary-delayed-text{
  opacity: 0;
  animation: appear 2s forwards,  textLightupWhite 2s 2s alternate-reverse;
  animation-delay: 2.5s;
}

.bsr--white{
  color: whitesmoke;
}

.bsr--background-dark{
  background-color: rgba(51, 51, 51, .8)
}

.bsr--background-show-remove{
  background-image: url("../assets/images/setup/remove-ship.png");
  background-size: 50px 50px;
  background-position: center center;
}

.bsr--slight-background-movement{
  animation: slightBackgroundMovement 20s linear infinite alternate, backgroundZoomOut 2s;
}

.bsr--blink-red{
  animation: backgroundBlinkRed 1s alternate-reverse;
}

.bsr--slidein-bottom{ 
  animation: slideInFromBottom 2s;
  animation-delay: 1s;
}

.bsr--slidein-left{
  animation: slideInViewLeft 1s;
}

.bsr--slideout-right{
  animation: slideOffViewRight 1s;
}

/* these are the elements themselves --------------------------------------- */

.bsr__container{
  /*border: 2px solid blue;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 1225px;
}

.bsr__title{
  margin-top: -10px;
  margin-bottom: -10px;
}

.bsr__shipinfoshell{
  /*border: 2px solid brown;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.bsr__playershipinfo{
  /*border: 2px solid black;*/
  margin-left: 6px;
  width: fit-content;
  /*min-height: 32px;*/
  height: fit-content;
  padding: 10px;
}

.bsr__playinfo{
  /*border: 2px solid yellow;*/
  margin-top: auto;
  width: fit-content;
  /*min-height: 32px;*/
  height: fit-content;
  padding: 10px;
}

.bsr__enemyshipinfo{
  /*border: 2px solid black;*/
  margin-right: 6px;
  width: fit-content;
  /*min-height: 32px;*/
  height: fit-content;
  padding: 10px;
}

.bsr__gamecodesearch{
  /*border: 2px solid green;*/
  display: flex;
  justify-content: center;
  
}

.bsr__gamecodebutton{
  /*border: 2px solid bisque;*/
  width: 175px;
}

.bsr__gamecodeinput{
  /*border: 2px solid violet;*/
  width: 200px;
}

.bsr__setupplacement{
  /*border: 2px solid purple;*/
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px;
}

.bsr__setupbuttonsshell{
  /*border: 2px solid gold;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.bsr__setupbutton{
  /*border: 2px solid orange;*/
  width: 150px;
  height: 200px;
}

.bsr__buttonimage{
  /*border: 2px solid green;*/
  margin-top: 7px;
  margin-left: -7px;
  width: 150px;
  height: 150px;
  pointer-events: none;
  -webkit-user-drag: none;
}

.bsr__gridplacement{
  /*border: 2px solid green;*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.bsr__gridspacer{
  /*border: 2px solid cyan;*/
  width: 20px;
}

.bsr__piecescontainer{
  /*border: 2px solid red;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 145px;
  width: fit-content;
  height: fit-content;
  padding-top: 2px;
}

.bsr__piecesshell{
  /*border: 2px solid peachpuff;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 631px;
}

/*
.bsr__piecesremover{
  border: 2px solid red;
  width: 300px;
  height: 635px;
}
*/

.bsr__pieceremover{
  /*border: 2px solid darkblue;*/
  position: absolute;
  width: 300px;
  height: 631px;
  /*background-image: url('../assets/textures/water.jpg');*/
}

.bsr__changestates{
  margin-top: 16px;
}

.bsr__generateplacementgrid{
  width: 200px;
  height: 50px;
}

.bsr__generateplayertable{
  width: 225px;
  height: 50px;
}

.bsr__infoshell{
  /*border: 2px solid brown;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 1225px;
}

.bsr__split{
  margin-top: 25px;
}

.bsr__lookhere{
  margin-top: 4px;
  margin-bottom: 4px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
