/* battleships royale css is stylized using BEM naming conventions*/

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Stardos+Stencil:wght@700&display=swap');

/*animation pieces*/
@import 'animations.css';

/* placesable pieces */
@import 'bsr-pieces.css';
/*grid pieces*/
@import 'bsr-grids.css';

body{
  border: 2px solid greenyellow;
  font-family: 'Stardos Stencil', cursive;
  background-image: url("../assets/images/sea1.jpg");
  background-size: cover;
}

button{
  font-family: 'Stardos Stencil', cursive;
  font-size: 16px;
}

footer{
  position: fixed;
}

.bsr--rounded{
  border-radius: 20px;
}

.bsr--rounded-top{
  border-radius: 20px, 20px, 0px, 0px;
}

.bsr--rounded-bottom{
  border-radius: 0px 0px 20px, 20px;
}

.bsr--text-underline{
  text-decoration: underline;
}

.bsr--text{
  font-size: 18px;
}

.bsr--text-large{
  font-size: 75px;
}

.bsr--text-center{
  text-align: center;
}

.bsr--appear{
  opacity: 0;
  animation: appear 2s forwards;
  animation-delay: 1s;
}

.bsr--appear-and-glow{
  animation: appear 2s,  textLightupWhite 2s;
  animation-fill-mode: forwards;
}

.bsr--appear-and-glow-temporary{
  opacity: 0;
  animation: appear 2s forwards,  boxLightupWhite 2s 2s alternate-reverse;
  animation-delay: 1s;
}

.bsr--white{
  color: whitesmoke;
}

.bsr--background-dark{
  background-color: rgba(51, 51, 51, .8)
}

.bsr--slight-background-movement{
  animation: slightBackgroundMovement 15s linear infinite alternate;
}

.bsr--slidein-bottom{
  animation: slideInFromBottom 2s forwards;
  animation-delay: 1s;
}

/* bsr is shorthand for battleships royale*/
.bsr__container{
  border: 2px solid blue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width : 1225px;
}

.bsr__title{
  margin-top: -10px;
  margin-bottom: -10px;
}

.bsr__shipinfoshell{
  border: 2px solid brown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.bsr__playershipinfo{
  border: 2px solid black;
  margin-left: 2px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.bsr__playinfo{
  border: 2px solid yellow;
  margin-top: auto;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.bsr__enemyshipinfo{
  border: 2px solid black;
  margin-right: 2px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.bsr__setupplacement{
  border: 2px solid purple;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px;
}

.bsr__setupbuttonsshell{
  border: 2px solid gold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.bsr__setupbutton{
  border: 2px solid orange;
  width: 100px;
  height: 200px;
}

.bsr__gridplacement{
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.bsr__gridspacer{
  border: 2px solid cyan;
  width: 20px;
}

.bsr__piecescontainer{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 145px;
  width: fit-content;
  height: fit-content;
  padding-top: 2px;
}

.bsr__piecesshell{
  border: 2px solid peachpuff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 635px;
}

.bsr__piecesshell div{
  border-radius: 25px;
}

.bsr__pieceremover{
  border: 2px solid darkblue;
  position: absolute;
  width: 300px;
  height: 635px;
}

.bsr__changestates{
  padding: 10px;
}

.bsr__generateplacementgrid{
  width: 200px;
  height: 50px;
}

.bsr__generateplayertable{
  width: 200px;
  height: 50px;
}

.bsr__split{
  margin-top: 25px;
}

/*
.color{
  color: brown;
}

.test__color{
  font-size: 24px;
}

.test__color--border{
    color: green;
    border: 2px solid green;
}

.bsr__nav{
  border: 3px solid green;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.bsr__link{

}

.bsr__link--active{

}

.bsr__link--inactive{

}
*/