/* battleships royale css is stylized using BEM naming conventions*/

@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Stardos+Stencil:wght@700&display=swap');

body{
    font-family: 'Stardos Stencil', cursive;
}

/* bsr is shorthand for battleships royale*/
.bsr{

}

.bsr__nav{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.bsr__link{

}

.bsr__link--active{

}

.bsr__link--inactive{

}

.bsr__gridplacement{
  display: flex;
  border: 2px solid green;
}

.bsr__placementplot{
  width: 50px;
  height: 50px;
  /*display: block;*/
  /*border-collapse: collapse;*/
  background-color: lightgrey;
  /*border: 2px solid black;*/
}

.bsr__playerplot{
  width: 50px;
  height: 50px;
}

.bsr__boardbutton{
  width: 50px;
  height: 50px;
}

.bsr__pieceimage{
  position: absolute;
  max-width: 100%;
  top: 0px;
  left: 0px;
}

.bsr__outcomeimage{
  position: absolute;
  max-width: 100%;
  top: 0px;
  left: 0px;
}

.bsr__placementplot--enabled{
  background-color: greenyellow;
}

.bsr__placementplot--disabled{
  background-color: red;
}

.bsr__boardpiece{
  border-collapse: collapse;
  position: relative;
  width: 50px;
  height: 50px;
}

.bsr__table--carrier-horizontal{
  background-color: aqua;
  /*border: 4px solid red;*/
}

.bsr__table{
  border-collapse: collapse;
  height: 40px;
  background-color: grey;
  /*border: 2px solid black;*/
}

.bsr__table-cell{
  border-collapse: collapse;
  position: relative;
  /*border: 2px solid black;*/
}

.bsr__piececontainer{
  background-color: rosybrown;
}

.bsr__piecesshell{
  border: 2px solid peachpuff;
  overflow: auto;
  table-layout: fixed;
  width: 400px;
  height: 300px;
}

.bsr__pieceremover{
  width: auto;
  height: 60px;
  border: 2px solid darkblue;
}

table{
    border: 1px solid;
}

th{
  border: 1px solid;
}

td{
  border: 1px solid;
  width: 50px;
}

  .color{
    color: brown;
  }

  .test__color{
    font-size: 24px;
  }

  .test__color--border{
      color: green;
      border: 2px solid green;
  }